<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="Container">
        <div class="row">
            <div class="col-lg-11 text-center">
                <h1>URL Shortener</h1>
            </div>
      </div>
      <form action="/create" method="POST">
      <div class="row">
        <div class="col-lg-10">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Paste your Long URL" aria-label="Paste your Long URL" aria-describedby="button-addon2"
              name="longUrl"
              />
              <div class="input-group-append">
                <input type ="submit" value="Submit" class="btn btn-outline-secondary">
            </div>
          </div>
        </div>
      </div>
      </form>
       <div class ="row">
        <% for(var i=0;i< allUrlData.length;i++) { %>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Total Counts:<%= allUrlData[i].clickCount %></div>
          <div class="card-body">
          <h5 class="card-title">
            <a href="http://localhost:3000/<%=allUrlData[i].shortUrl %>" target="_blank">http://localhost:3000/<%=allUrlData[i].shortUrl %></a>
          </h5>
            <p class="card-text">
              <%=allUrlData[i].longUrl %>
            </p>
            <a href="/delete/<%= allUrlData[i].id %>"class="btn btn-xs btn-danger">Remove</a>
          </div>
        </div>
         </div>
        <% } %>
        </div>
        </body>
</html>